---
layout: page
title: Blog
permalink: /blog/
permalink: index.html
---

<div class="home">
  <ul>
    {% assign previousDate = "" %}
    {% for post in site.posts %}
        {% assign curDate = post.date | date: "%Y" %}
        {% if curDate != previousDate %}
            <hr />
            {% assign previousDate = post.date | date: "%Y" %}
            <span class="post-year">{{ previousDate }}</span><bf />
        {% endif %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
          <span class="post-meta">
            {{ post.date | date: "%b %-d" }}
          </span>
        </li>
    {% endfor %}
  </ul>
</div>
